/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

body { font:13px/1.231 sans-serif; }
select, input, textarea, button { font:99% sans-serif; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
pre, code, kbd, samp { font-family:monospace, sans-serif; }
a{ text-decoration:none; }
a:hover, a:active { outline:none; }
ul, ol { margin-left:2em; }
ol { list-style-type:decimal; }
nav ul, nav li { margin:0; list-style:none; list-style-image:none; }
small { font-size:85%; }
strong, th { font-weight:bold; }
td { vertical-align:top; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; padding:15px; }
textarea { overflow:auto; }
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor:pointer; }
button, input, select, textarea { margin:0; }
button {  width:auto; overflow:visible; }
body, select, input, textarea { color:#2d2d2d; font-family:Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
a, a:active, a:visited { color:#9a1010; }
a:hover { color:#a53b3b; }
.hidden { display:none; visibility:hidden; }
.clearfix:before, .clearfix:after { content:"\0020"; display:block; height:0; overflow:hidden; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }



/* Custom CSS Start Here */
#top {background-color:#e8e8e8; padding:20px 0 26px; overflow:hidden;}
#logo {margin:15px 0 7px; float:left;}
.icon {background:url("/images/sprite.png") left top no-repeat; width:32px; height:32px;}
#menu {float:right; overflow:hidden; background:url("/images/menu.png") right center no-repeat;}
.menuli {float:left; height:80px;}
.menuli a {color:#3b3b3b; font-size:0.95em; text-decoration:none; font-weight:bold; text-transform:uppercase; text-align:center; text-shadow:0 1px 0 #fff;
  display:block; background:url("/images/menu.png") left center no-repeat; height:65px; line-height:32px; padding:15px 28px 0 28px;}
.menuli a:hover {color:#696969;}
.menuli .icon   {margin:0 auto; display:block; vertical-align:top;}
.about .icon    {background-position:0 0;}
.schedule .icon {background-position:-32px 0;}
.users .icon    {background-position:-64px 0;}
.blogs .icon    {background-position:-128px 0;}
.contact .icon  {background-position:-192px 0;}

.container {width:960px; padding:0 10px; margin:0 auto; overflow:hidden;}

#profile {background:#393939 url("/images/bg-profile.png") left bottom repeat-x; border-bottom:1px solid #646464; min-height:40px;}
#user_account {float:right; overflow:hidden;}
#user_account p {color:#ccc; text-align:right; float:right; display:inline; padding:4px 8px; margin-top:7px; border-width:1px; border-style:solid; border-color:#111 #333 #333 #111;
  background-color:#000; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#profile .user_image {width:32px; height:32px; float:right; vertical-align:top; margin:3px 0 3px 10px; border:1px solid #606060;}
#profile .spacer {padding:0 5px;}
#profile .spacer, #profile .signout {color:#888; font:0.8em verdana, sans-serif;}
#profile .signout:hover {color:#e0e0e0;}
#about_info {margin-top:20px;}
#about_info p .icon {margin:0 9px; display:inline-block; vertical-align:middle;}
#about_info .email .icon    {background-position:-128px -32px;}
#about_info .twitter .icon  {background-position:-224px -32px;}
#about_info .facebook .icon {background-position:-256px -32px;}
.login_facebook {background:url("/images/connect.png") no-repeat; width:176px; height:25px; display:block; text-indent:-999em; margin:7px 0; float:right;}
.login_github {background:url("/images/connect-github.png") no-repeat; width:176px; height:25px; display:block; text-indent:-999em; margin:7px 0; float:right;}
.user_role {border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; padding:2px 4px; font:0.8em verdana, sans-serif; background-color:#dadada; color:#444 !important;}
.user_role.admin {background-color:#4e8e00; color:#eee !important;}
.user_role.member {background-color:#a20000; color:#eee !important;}
.user_role.guest {background-color:#0746a8; color:#eee !important;}
#breadcrumb {background:#3f3f3f; color:#fff; height:68px; font-size:2.2em; text-transform:lowercase;
  background-image:-moz-linear-gradient(top, #404040, #151515);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #404040),color-stop(1, #151515));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040', EndColorStr='#151515');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#404040', EndColorStr='#151515')";
}
#breadcrumb h3 {font-weight:normal; line-height:67px;}
#breadcrumb .home_link, #breadcrumb .interpages {color:#999;}

#intro {background:#3f3f3f url("/images/bg-intro.png") left bottom repeat-x; padding:20px 0;}
#intro .topic {background:#a20000 url("/images/bg-topic.png") left bottom repeat-x; color:#fff; padding:30px; overflow:hidden;
  border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
/*#intro .topic img {float:right; border:1px solid #b33236; margin-left:20px;}*/
#intro .topic h2, #intro .topic p, #intro .topic ul {float:left; width:380px;}
#intro .topic h2 {font-size:2em;}
#intro .topic p {line-height:1.92em;margin:10px 0;}
#intro .topic ul {list-style-type:none; margin:0;}
#intro .topic li {font-size:1.1em; margin:5px 0;}
#intro .topic li .icon          {margin:0 9px; display:inline-block; vertical-align:middle;}
#intro .topic li.talks .icon    {background-position:0 -32px;}
#intro .topic li.photos .icon   {background-position:-32px -32px;}
#intro .topic li.videos .icon   {background-position:-256px 0;}
#intro .topic li.location .icon {background-position:-192px -65px;}
#intro .topic a { color:#3b3b3b; padding-left: 0px !important;}
#intro .topic a:hover { color:#fff}
#intro .topic li a {background-color:#4e0101; color:#fff; text-decoration:none; padding:6px 0; display:block; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#intro .topic li a:hover {background-color:#5e0101;}

#content {clear:both; width:100%; padding:20px 0;}
#wrapper {float:left; width:640px; margin-right:20px;}
#local {width:300px; float:left;}
/* Descomente as 3 linhas abaixo se quiser que a
   coluna auxiliar fique do lado esquerdo */
/*#wrapper {width:100%; margin:0;}
#main {margin-left:320px;}
#local {margin-left:-960px;}*/

#local ul {list-style-type:none; margin:0;}
#local .gallery {margin:20px 0;}
#local li {display:inline;}
.img_gallery a img {border:4px solid #dfdfdf; margin:0 2px 2px 0; width:87px; height:87px;}
.img_gallery a:hover img {border-color:#a80000;}
#users {list-style-type:none; margin:0; overflow:hidden; width:100%; clear:both;}
#users li {border-bottom:1px solid #ccc; padding:8px 0 18px; margin:0 10px 10px; width:300px; float:left;}
.user_photo {margin:0 6px 6px 0; width:58px; height:58px; float:left; padding:3px; border:1px solid #ddd; background-color:#fff;}

#extra {clear:both; width:100%;}
#extra .photo {float:left; margin:0 10px 0 0;}
.column {width:300px; float:left; padding-top:20px; margin:0 10px;}
.column ul {margin:0; list-style-type:none;}
.column li, .column p.title {border-bottom:1px solid #ccc; padding:18px 0; overflow:hidden;}
.column p.title {line-height:1.5em;font-size:1.1em;}
.column a {font-weight:bold;}
.column h4 {margin:5px 0;font-size:1.1em;}
.hat {background-color:#444; color:#fff; font-size:1.4em; font-weight:normal; line-height:32px; padding:6px 9px 7px;}
.hat .icon {margin-right:9px; display:inline-block; vertical-align:middle;}
.hat.title {margin-bottom:20px; background-color:#c4c4c4; font-weight:bold; color:#444;
  text-shadow:0 1px 0 #eee; padding-bottom:7px; border-bottom:1px solid #999; padding:7px 9px;}
#main {font-size:1.15em; color:#272727;}
#main p {margin:0.8em 0;}
#main li {margin:0.4em 0;}
#main h2 {font-size:1.2em; margin:1em 0;}
#encontros .hat .icon  {background-position:-64px -32px;}
#blogs .hat .icon      {background-position:-224px 0;}
#atividades .hat .icon {background-position:-96px 0;}
#photos .hat .icon     {background-position:-32px -32px;}
#social .hat .icon     {background-position:-192px -32px;}
#contact .hat .icon    {background-position:-96px -32px;}
#atividades li {padding:10px 0;}
#atividades p {line-height:1.5em;}
#atividades .user {display:block;}
.liked,.disliked {width:83px;height:48px;display:inline-block;background:url("/images/sprite.png") no-repeat;text-align:center;}
.liked {background-position:0 -64px;margin-right:7px;}
.disliked {background-position:-87px -64px;}
.count {line-height:48px;font-size:1.7em;color:#fff;margin-left:35px;text-shadow:1px 1px #000;}
a.button-add {background:url("/images/sprite.png") 0 -112px no-repeat; width:300px; height:48px; display:block; text-transform:lowercase;
  margin-top:18px; font-size:1.3em;color:#fff; line-height:48px; text-shadow:1px 1px #000; text-align:center;}
a.button-add:hover {color:#ddd;}
a.button-add .icon {background-position:0 -32px; vertical-align:middle; margin-right:10px; display:inline-block;}

.speaker {margin:10px 0 20px; overflow:hidden;}
.speaker img {width:30px; height:30px; border:1px solid #dadada; padding:2px; float:left; margin-right:10px;}
.lecture_name {font-size:2em; color:#444; margin-bottom:5px;}
.event_name {font-size:1em; font-weight:normal; font-style:italic; color:#656565; margin-bottom:8px;}
.user_name {line-height:34px; font-size:1em;}
ul.lectures {margin:0; border-left:10px solid #ededed; border-top:1px solid #ccc; margin-bottom:20px;}
.lecture {margin:20px 0; overflow:hidden;}
#main li.lecture_item {overflow:hidden; list-style-type:none; margin-bottom:10px; margin:0; border:1px solid #ccc; padding-bottom:9px; border-top:none;}
#main li.lecture_item .main_info {float:left; width:380px; padding-left:15px;}
#main li.lecture_item .aux_info {float:right; width:215px;}

/* slider*/
#slideshow { float:right; position:relative; height:268px; width:485px; margin:0 auto;border:3px solid #b33236; margin-left:20px; }
#slideshow img { position:absolute; top:0; left:0; z-index:8; }
#slideshow img.active { z-index:10; }
#slideshow img.last-active { z-index:9; }
/* footer */
#footer {height:110px; margin-top:20px; background-color:#e5e5e5; border-top:1px solid #bdbdbd; overflow:hidden;}
#footer .in{ margin:auto }
#footer a{ color:#3b3b3b; }
#footer .rights{width:100%;	margin-bottom:10px;	text-align:center;	color:#3b3b3b;	font-size:12px;	margin-top:-5px;}
#footer .fb{ margin-top:30px;}
#footer .links{ font-size:12px; line-height:normal; color:#3b3b3b }
#footer .links ul { display:inline-block; margin:0 0 13px; padding:0 0 13px; }
#footer .links ul li { float:left; list-style: none outside none; margin:0; }
#footer .links ul li a{ border-right: 1px solid #3b3b3b; font-weight: normal; padding: 0 7px; }
#fork_me {position:fixed; bottom:0; text-align:center; width:100%; color:#ccc; text-shadow:0 1px 1px rgba(0, 0, 0, 0.8); font:bold 1em arial, sans-serif;}
#fork_me a {background-color:rgba(109, 3, 3, 0.9); padding:6px 0; height:18px; padding-left:22px; color:#e1c4c4; display:block;}
#fork_me a:hover {background-color:rgba(47, 162, 31, 0.9); color:#fff;}
#fork_me a .icon {background:url("/images/fork.png") no-repeat; width:20px; height:16px; display:inline-block; vertical-align:top;}

table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:70%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {padding:18px 28px 18px; text-align:center; }

th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

tr.odd-row td {background:#f6f6f6;}

td.first, th.first {text-align:left}

td.last {border-right:none;}

td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}


#main #formulario {
    width: 365px;
    float: left;
    margin: 20px 0 0 0;
    position:relative;
}

#main #informacoes {
  width: 365px;
  float: left;
  margin: 20px 0 0 70px;
  position:relative;
}

#main #formulario h4, #main #informacoes h4{
    color:#4F4F4F;
    font-size: 23px;

}

#main #formulario h4 span, #main #informacoes h4 span{
    font-family: 'YanoneKaffeesatzRegular', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

#main #informacoes h4 span a{
    font-size: 18px;
    color: #4F4F4F;
    text-decoration: none;
}

#main #informacoes h4 span a:hover{
    text-decoration: underline;
}

#main #formulario form input, #main #formulario form textarea{
    font-family: 'YanoneKaffeesatzRegular', Arial, sans-serif;
    width: 350px;
    background: url(/images/fundo-input.png) top left no-repeat;
    font-size: 18px;
    font-weight: normal;
    color: #4f4f4f;
    padding: 0 7px 0 7px;
    margin-bottom: 10px;
    display:block;
    border: none;
    height: 28px;
    resize: none;
}

form select {
	padding: 0 7px 0 7px;
    margin-bottom: 10px;
    height: 28px;
}

#main #formulario form textarea{
    background: url(/images/fundo-textarea.png) top left no-repeat;
    height: 165px;
    padding: 7px 7px 0 7px;
    margin-bottom: 0;
    resize: none;
}

#main #formulario form button{
    width: 99px;
    height: 29px;
    background: url(/images/bt-enviar.png) top left no-repeat;
    border:none;
    text-indent:-9000em;
    overflow:hidden;
    cursor:pointer;
    float: right;
    margin: 5px 3px 0 0;
}

#main #formulario form button:hover{
    background: url(/images/bt-enviar-on.png) top left no-repeat;
}

#main #formulario #error{
    font-family: 'YanoneKaffeesatzRegular', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #4F4F4F;
    margin-top:11px;
}

#main #informacoes ul#social{
    margin: 30px 0 0 0;
    height:54px;
    padding: 0;
}

#main #informacoes ul#social li{
    list-style: none;
    width: 55px;
    height: 54px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

#main #informacoes ul#menuBaixo{
    margin: 0;
    padding:40px 0 0 0;
    display:block;  height:60px; width: 365px;
}

#main #informacoes ul#menuBaixo li{

    list-style: none;
    display: inline;

    margin: 0 7px 0 0;
    font-family: 'YanoneKaffeesatzRegular', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #4F4F4F;
}

#main #informacoes ul#menuBaixo li a{
    font-family: 'YanoneKaffeesatzRegular', Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #4F4F4F;
    padding-right: 7px;
}

#main img.mapa1{
    position: absolute;
    top: 470px;
    right: 510px;
}

.column2 {width:240px; float:left; margin-left:70px;}
.column2 ul {margin:0; list-style-type:none;}
.column2 li, .column2 p.title {border-bottom:1px solid #ccc; padding:18px 0; overflow:hidden;}
.column2 p.title {line-height:1.5em;font-size:1.1em;}
.column2 a {font-weight:bold;}
.column2 h4 {margin:5px 0;font-size:1.1em;}
.hat {background-color:#444; color:#fff; font-size:1.4em; font-weight:normal; line-height:32px; padding:6px 9px 7px;}
.hat .icon {margin-right:9px; display:inline-block; vertical-align:middle;}
.hat.title {margin-bottom:20px; background-color:#c4c4c4; font-weight:bold; color:#444;
  text-shadow:0 1px 0 #eee; padding-bottom:7px; border-bottom:1px solid #999; padding:7px 9px;}

.column3 {float:left; margin-left:25px;width:250px;}
.column3 ul {margin:0; list-style-type:none;}
.column3 li, .column2 p.title {border-bottom:1px solid #ccc; padding:18px 0; overflow:hidden;}
.column3 p.title {line-height:1.5em;font-size:1.1em;}
.column3 a {font-weight:bold;}
.column3 h4 {margin:5px 0;font-size:1.1em;}

#btn_contact { position:fixed; top: 263px; right:0; height:152px; width:23px; z-index:1000; }
#btn_contact a#contato{background:url(/images/btn_contato.png) center no-repeat; height:230px; width:23px; display:block;}
#btn_contact a#contato:hover{background:url(/images/btn_contato_hover.png) center no-repeat;}


/* My Custon CSS - certificates */

.actions button {
	float: left !important;
}

.blank {
	overflow: hidden;
}

.certificate li {
	list-style: none;
}

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #BBBBBB #BBBBBB #A2A2A2;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin: 5px 3px 0 0;
	padding: 4px 14px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}


