<h1 class="hat title">Sobre</h1>

<h2>Objetivos do grupo</h2>

<p>O grupo de usuários de Ruby do Piauí (GuruPI) tem como objetivos:</p>

<ul>
<li>Divulgar e promover a linguagem de programação Ruby no estado do Piauí através de eventos como palestras, discussões, apresentações de projetos e afins.</li>
<li>Reuniões presenciais entre os membros do grupo para que estes possam discutir, ensinar e aprender sobre a linguagem Ruby e aspectos relacionados a programação e desenvolvimento de software.</li>
<li>Colaborar com a comunidade Ruby nacional com a criação e tradução de conteúdos em língua portuguesa.</li>
<li>Colaborar com a comunidade Ruby global com a criação e manutenção de projetos de código fonte aberto.</li>
</ul>

<h2>Composição do grupo</h2>

<ul>
<li>Podem participar do grupo todos aqueles que desejarem, sendo vetada a discriminação dentro do mesmo, seja racial, cultural, religiosa ou sexual de acordo com a constituição brasileira.</li>
<li>Por pessoas que estejam interessadas em ensinar, aprender e evoluir no aprendizado da linguagem Ruby.</li>