<h1 class="hat title">Sobre</h1>

<h2>Objetivos do grupo</h2>

<p>O grupo de usuários de Ruby do Piauí (GuruPI) tem como objetivos:</p>

<ul>
<li>Divulgar e promover a linguagem de programação Ruby no estado do Piauí através de eventos como palestras, discussões, apresentações de projetos e afins.</li>
<li>Reuniões presenciais entre os membros do grupo para que estes possam discutir, ensinar e aprender sobre a linguagem Ruby e aspectos relacionados a programação e desenvolvimento de software.</li>
<li>Colaborar com a comunidade Ruby nacional com a criação e tradução de conteúdos em língua portuguesa.</li>
<li>Colaborar com a comunidade Ruby global com a criação e manutenção de projetos de código fonte aberto.</li>
</ul>

<h2>Composição do grupo</h2>

<ul>
<li>Podem participar do grupo todos aqueles que desejarem, sendo vetada a discriminação dentro do mesmo, seja racial, cultural, religiosa ou sexual de acordo com a constituição brasileira.</li>
<li>Por pessoas que estejam interessadas em ensinar, aprender e evoluir no aprendizado da linguagem Ruby.</li>
</ul>

<aside id="about_info">
  <section id="social" class="column">
    <h3 class="hat"><span class="icon"></span>Redes Sociais</h3>
    <p><a href="http://twitter.com/gurupi_" target="_blank">twitter.com/gurupi_</a></p>
    <p><a href="http://fb.com/gurupi" target="blank_">fb.com/gurupi</a></p>
  </section>

  <section id="contact" class="column">
    <h3 class="hat"><span class="icon"></span>Contatos</h3>
    <p>E-mail: <a href="mailto:contato@gurupi.org">contato@gurupi.org</a></p>
  </section>
</aside>