<table>
  <thead>
    <th>Nome</th>
    <th>Localização</th>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, edit_event_path(event) %></td>
      <td><%= event.place %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Criar um novo evento', new_event_path, :class => "button-add" %>

