/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

body { font:13px/1.231 sans-serif; }
select, input, textarea, button { font:99% sans-serif; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
pre, code, kbd, samp { font-family:monospace, sans-serif; }
a{ text-decoration:none; }
a:hover, a:active { outline:none; }
ul, ol { margin-left:2em; }
ol { list-style-type:decimal; }
nav ul, nav li { margin:0; list-style:none; list-style-image:none; }
small { font-size:85%; }
strong, th { font-weight:bold; }
td { vertical-align:top; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; padding:15px; }
textarea { overflow:auto; }
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor:pointer; }
button, input, select, textarea { margin:0; }
button {  width:auto; overflow:visible; }
body, select, input, textarea { color:#2d2d2d; font-family:Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:bold; }
a, a:active, a:visited { color:#9a1010; }
a:hover { color:#a53b3b; }
.hidden { display:none; visibility:hidden; }
.clearfix:before, .clearfix:after { content:"\0020"; display:block; height:0; overflow:hidden; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }



/* Custom CSS Start Here */
#top {background-color:#e8e8e8; padding:20px 0 26px; overflow:hidden;}
#logo {margin:15px 0 7px; float:left;}
.icon {background:url("../img/sprite.png") left top no-repeat; width:32px; height:32px;}
#menu {float:right; overflow:hidden; background:url("../img/menu.png") right center no-repeat;}
.menuli {float:left; height:80px;}
.menuli a {color:#3b3b3b; font-size:0.95em; text-decoration:none; font-weight:bold; text-transform:uppercase; text-align:center;
  display:block; background:url("../img/menu.png") left center no-repeat; height:65px; line-height:32px; padding:15px 28px 0 28px;}
.menuli a:hover {color:#696969;}
.menuli .icon   {margin:0 auto; display:block; vertical-align:top;}
.about .icon    {background-position:0 0;}
.schedule .icon {background-position:-32px 0;}
.users .icon    {background-position:-64px 0;}
.blogs .icon    {background-position:0 -32px;}
.contact .icon  {background-position:-64px -32px;}

.container {width:960px; padding:0 10px; margin:0 auto; overflow:hidden;}
#profile {background:#393939 url("../img/bg-profile.png") left bottom repeat-x; border-bottom:1px solid #646464; min-height:40px;}
#profile h4 {color:#ccc;}
#intro {background:#3f3f3f url("../img/bg-intro.png") left bottom repeat-x; padding:20px 0;}
#intro .topic {background:#a20000 url("../img/bg-topic.png") left bottom repeat-x; color:#fff; padding:30px; overflow:hidden; 
  border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
/*#intro .topic img {float:right; border:1px solid #b33236; margin-left:20px;}*/
#intro .topic h2, #intro .topic p, #intro .topic ul {float:left; width:380px;}
#intro .topic h2 {font-size:2em;}
#intro .topic p {line-height:1.92em;margin:10px 0;}
#intro .topic ul {list-style-type:none; margin:0;}
#intro .topic li {font-size:1.1em; margin:5px 0;}
#intro .topic li .icon        {margin:0 9px; display:inline-block; vertical-align:middle;}
#intro .topic li.talks .icon  {background-position:-32px -64px;}
#intro .topic li.photos .icon {background-position:-64px -64px;}
#intro .topic li.videos .icon {background-position:0 -64px;}
#intro .topic a {background-color:#4e0101; color:#fff; text-decoration:none; padding:6px 0; display:block; border-radius:5px; 
  -moz-border-radius:5px; -webkit-border-radius:5px;}
#intro .topic a:hover {background-color:#5e0101;}

#extra {clear:both; width:100%;}
#extra .photo {float:left; margin:0 10px 0 0;}
.column {width:300px; float:left; padding-top:20px; margin:0 10px;}
.column ul {margin:0; list-style-type:none;}
.column li, .column p.title {border-bottom:1px solid #ccc; padding:18px 0; overflow:hidden;}
.column p.title {line-height:1.5em;font-size:1.1em;}
.column a {font-weight:bold;}
.column h4 {margin:5px 0;font-size:1.1em;}
.hat {background-color:#444; color:#fff; font-size:1.4em; font-weight:normal; line-height:47px;}
.hat .icon {margin:0 9px; display:inline-block; vertical-align:middle;}
#encontros .hat .icon  {background-position:-96px -64px;}
#blogs .hat .icon      {background-position:-96px -32px;}
#atividades .hat .icon {background-position:-96px 0;}
#atividades li {padding:10px 0;}
#atividades p {line-height:1.5em;}
#atividades .user {display:block;}
.liked,.disliked {width:83px;height:48px;display:inline-block;background:url(../img/sprite.png) no-repeat;text-align:center;}
.liked {background-position:0 -96px;margin-right:7px;}
.disliked {background-position:-87px -96px;}
.count {line-height:48px;font-size:1.7em;color:#fff;margin-left:35px;text-shadow:1px 1px #000;}
.button-add {background:url(../img/sprite.png) 0 -146px no-repeat; width:215px; height:48px; display:inline-block; text-transform:lowercase;
  margin-top:18px; font-size:1.3em;color:#fff; line-height:48px; padding-left:85px; text-shadow:1px 1px #000;}
.button-add:hover {color:#ddd;}

/* slider*/
#slideshow { float:right; position:relative; height:268px; width:485px; margin:0 auto;border:3px solid #b33236; margin-left:20px; }
#slideshow img { position:absolute; top:0; left:0; z-index:8; }
#slideshow img.active { z-index:10; }
#slideshow img.last-active { z-index:9; }
/* footer */
#footer {height:110px; margin-top:20px; background-color:#e5e5e5; border-top:1px solid #bdbdbd; overflow:hidden;}
#footer .in{ margin:auto }
#footer a{ color:#3b3b3b; }
#footer .rights{width:100%;	margin-bottom:10px;	text-align:center;	color:#3b3b3b;	font-size:12px;	margin-top:-5px;}
#footer .fb{ margin-top:30px;}
#footer .links{ font-size:12px; line-height:normal; color:#3b3b3b }
#footer .links ul { display:inline-block; margin:0 0 13px; padding:0 0 13px; }
#footer .links ul li { float:left; list-style: none outside none; margin:0; }
#footer .links ul li a{ border-right: 1px solid #3b3b3b; font-weight: normal; padding: 0 7px; }

