/* Propriedades Globais */
body {background:#e6e8fa;font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1em;color:#464646}
html {min-width:980px}
html, body {height:100%}
/* Estrutura Global */
.container {margin:0 auto;width:990px;font-size:.75em}
/* Header */
header .container {height:131px;overflow:hidden;position:relative}
/* form padroes */
input, select, textarea {font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal;color:#393939;margin:0;padding:0}
fieldset {border:0}
/* txt, links, linhas, titulos */
a {color:#fff;outline:none}
a:hover {text-decoration:none}
h1 {padding:17px 0 0 44px;font-size:36px;line-height:1.2em}
h1 a {text-decoration:none}
h2 {color:#fff;font-size:30px;line-height:1.2em;margin-bottom:15px;letter-spacing:-1px}
h2.extra {padding:30px 0 0 43px}
h3 {font-size:26px;line-height:1.2em;color:#fff;margin-bottom:30px}
h4 {font-size:20px;line-height:1.2em;color:#fff;margin-bottom:27px;letter-spacing:-1px}
h4.extra {margin-bottom:12px}
h5 {font-size:1em;line-height:1.667em;margin-bottom:10px}
/* boxes da head */
.header-box {width:100%;background:url(../images/corpo.gif) repeat-x left top;position:relative;top:auto}
.header-box .left {background:url(../images/canto-left.gif) no-repeat left top}
.header-box .right {background:url(../images/canto-right.gif) no-repeat right top;height:81px}
/* header */
header nav {float:right;padding:13px 24px 0 0}
header nav li {float:left;font-size:18px;line-height:3em;text-transform:uppercase;padding-left:21px;margin-left:19px;background:url(../images/divider.gif) repeat-y left top}
header nav li:first-child {background:none;padding-left:0;margin-left:0}
header nav li a {color:#000;text-decoration:none}
header nav li.current a, header nav li a:hover {color:#830100}
header .top-info {position:absolute;left:45px;top:17px}
/* form login */
#login-form fieldset {position:absolute;top:95px}
#login-form span.text {float:left;width:104px;height:23px;margin-left:5px;background:url(../images/input-bg1.gif) no-repeat left top}
#login-form input {border:none;background:none;padding:4px 10px;vertical-align:top;color:#999999;width:84px}
*+ html #login-form input {padding-top:3px}
#login-form a.login {color:#fff;text-decoration:none;text-shadow:1px 1px #000;float:left;background:url(../images/button-carpo1.gif) repeat-x left top;position:relative;top:-2px;margin-left:3px}
#login-form a.login span {display:block;background:url(../images/button-left1.gif) no-repeat left top}
#login-form a.login span span {padding:5px 22px 6px 22px;background:url(../images/button-right1.gif) no-repeat right top}
#login-form span.links {font-size:.923em;line-height:1.2em;float:left;padding-left:8px;position:relative;top:-2px}
#login-form span.links a {color:#000}#domain-form {padding-bottom:35px}

