development: &postgres
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  database: gurupi_development
  host: db
  pool: 5

test:
  <<: *postgres
  database: gurupi_test

production:
  <<: *postgres
  database: gurupi_production
