<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="pt-br" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>GuruPI - Grupo de Usuários de Ruby do Piauí</title>
    <link rel="stylesheet" href="css/style.css?v=1">
    <script type='text/javascript' src='js/modernizr-2.0.js'></script>
  </head>

  <body>
    <header id="top">
      <div class="container">
        <h1 id="logo"><a href="#" title="GuruPI - Grupo de Usuários de Ruby do Piauí"><img src="img/logo.gif" alt="GuruPI - Grupo de Usuários de Ruby do Piauí"></a></h1>
        <nav>
          <ul id="menu">
            <li class="menuli about"><a href="#sobre"><span class="icon"></span>Sobre</a></li>
            <li class="menuli schedule"><a href="#agenda"><span class="icon"></span>Agenda</a></li>
            <li class="menuli users"><a href="#usuarios"><span class="icon"></span>Usuários</a></li>
            <li class="menuli blogs"><a href="#blogs"><span class="icon"></span>Blogs</a></li>
            <li class="menuli contact"><a href="#contatos"><span class="icon"></span>Contatos</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="profile">
      <div class="container">
       <h4>Aqui vai ficar um botão do Facebook para login</h4>
      </div>
    </div>

    <div id="intro">
      <div class="container">
        <article class="topic">
          <h2>4º Encontro do GuruPI</h2>
          <div id="slideshow">
            <img class="active" src="img/image1.jpg" alt="Rafael Marques palestrando no 4º Encontro do GuruPI" title="" />
            <img src="img/image2.jpg" alt="" title="" />
            <img src="img/image3.jpg" alt="" title="" />
            <img src="img/image4.jpg" alt="" title="" />
          </div>
          <p>All API calls (besides /user/login) require some form of authentication. You have two options available to you: OAuth 1.0 and AdaptiveBlue's token authentication.</p>
          <ul>
            <li class="talks"><a href="#palestras"><span class="icon"></span>Palestras</a></li>
            <li class="photos"><a href="#fotos"><span class="icon"></span>Fotos</a></li>
            <li class="videos"><a href="#videos"><span class="icon"></span>Vídeos</a></li>
          </ul>
        </article>
      </div>
    </div>

    <div id="extra">
      <div class="container">
        <section id="encontros" class="column">
          <h3 class="hat"><span class="icon"></span>Próximo Encontro</h3>
          <p class="title">Vote na palestra que você deseja assistir no próximo encontro GuruPI que será realizado no dia 11/06/2011</p>
          <ul>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
                <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
              </p>
              <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
              <div>
                <a href="#gostei" class="liked"><span class="count">11</span></a>
                <a href="#naogostei" class="disliked"><span class="count">3</span></a>
              </div>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
                <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
              </p>
              <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
              <div>
                <a href="#gostei" class="liked"><span class="count">9</span></a>
                <a href="#naogostei" class="disliked"><span class="count">2</span></a>
              </div>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
                <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
              </p>
              <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
              <div>
                <a href="#gostei" class="liked"><span class="count">10</span></a>
                <a href="#naogostei" class="disliked"><span class="count">1</span></a>
              </div>
            </li>
          </ul>
          <a href="#cadastrar_palestra" class="button-add">Cadastrar Palestra</a>
        </section>

        <section id="blogs" class="column">
          <h3 class="hat"><span class="icon"></span>Blogs</h3>
          <ul>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1293391269/cleiton_photo_2011_bigger.jpg" alt="Cleiton Francisco" class="photo">
                <a href="http://twitter.com/cleitonfco">@cleitonfco</a> em <time title="2011-05-12T14:00:00-03:00">12/05/2011</time>
              </p>
              <h4><a href="#html5">Começando com HTML5: Dicas e boas práticas</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1285435872/rafael-avatar-07_bigger.jpg" alt="Rafael Marques" class="photo">
                <a href="http://twitter.com/artefaelmarques">@artefaelmarques</a> em <time title="2011-05-11T14:00:00-03:00">11/05/2011</time>
              </p>
              <h4><a href="#usabilidade">Slides da palestra sobre usabilidade para designers e coders</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/1225763155/twt_bigger.jpg" alt="Mateus Pontes" class="photo">
                <a href="http://twitter.com/mateuspontes">@mateuspontes</a> em <time title="2011-05-10T14:00:00-03:00">10/05/2011</time>
              </p>
              <h4><a href="#tdd">Aplicando TDD na prática</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1355829144/Cairo_bigger.jpg" alt="Cairo Noleto" class="photo">
                <a href="http://twitter.com/caironoleto">@caironoleto</a> em <time title="2011-05-09T14:00:00-03:00">09/05/2011</time>
              </p>
              <h4><a href="#nodejs">Leilão de centavos com NodeJs</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1293391269/cleiton_photo_2011_bigger.jpg" alt="Cleiton Francisco" class="photo">
                <a href="http://twitter.com/cleitonfco">@cleitonfco</a> em <time title="2011-05-12T14:00:00-03:00">12/05/2011</time>
              </p>
              <h4><a href="#html5">Começando com HTML5: Dicas e boas práticas</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1285435872/rafael-avatar-07_bigger.jpg" alt="Rafael Marques" class="photo">
                <a href="http://twitter.com/artefaelmarques">@artefaelmarques</a> em <time title="2011-05-11T14:00:00-03:00">11/05/2011</time>
              </p>
              <h4><a href="#usabilidade">Slides da palestra sobre usabilidade para designers e coders</a></h4>
            </li>
          </ul>
        </section>

        <section id="atividades" class="column">
          <h3 class="hat"><span class="icon"></span>Últimas atividades</h3>
          <ul>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1361978035/DSCF0181_normal.jpg" class="photo">
                <a href="http://twitter.com/samflores" class="user">@samflores</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a0.twimg.com/profile_images/479789654/papai_nenem_normal.jpg" class="photo">
                <a href="http://twitter.com/eliaswebdev" class="user">@eliaswebdev</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
                <a href="http://twitter.com/joselemartins" class="user">@joselemartins</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
                <a href="http://twitter.com/paulogustavo" class="user">@paulogustavo</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
                <a href="http://twitter.com/cyruscavalcante" class="user">@cyruscavalcante</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a0.twimg.com/profile_images/1283027039/foto-cabelo_curto_face0_normal.jpg" class="photo">
                <a href="http://twitter.com/weldyss" class="user">@weldyss</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
                <a href="http://twitter.com/joselemartins" class="user">@joselemartins</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
                <a href="http://twitter.com/paulogustavo" class="user">@paulogustavo</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
                <a href="http://twitter.com/cyruscavalcante" class="user">@cyruscavalcante</a>atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a3.twimg.com/profile_images/1259891821/alicia-html5-android_normal.jpg" class="photo">
                <a href="http://twitter.com/leandroasp" class="user">@leandroasp</a>atualizou seu perfil
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        <div class="links fb" align="center">
          <ul>
            <li><a href="#">Gurupi</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Usuários</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Imprensa</a></li>
            <li><a href="#" style="border: 0px none">Contatos</a></li>
          </ul>
        </div>
      </div>
      <div class="rights">Copyright 2011 - <a href="/">Gurupi</a></div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='js/jquery-1.6.1.min.js'>\x3C/script>")</script>
    <script>
    function slideSwitch() {
        var $active = $('#slideshow img.active');
      $active.addClass('last-active');

      // verifica se existe um próximo objeto na div #slideshow, caso ele nao exista, retorna para o primeiro
        var $next =  $active.next().length ? $active.next() : $('#slideshow img:first');

      // Codigo que define as transicoes entre as imagens
        $next.css({opacity: 0.0})
            .addClass('active')
            .animate({opacity: 1.0}, 1000, function() {
                $active.removeClass('active last-active');
            });
    }

    $(function() {
      //Executa a função a cada 5 segundos
      setInterval( "slideSwitch()", 5000 );
    });
    </script>
  </body>
</html>

