<!doctype html>
<!--[if lt IE 7 ]> <html lang="pt-br" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="pt-br" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="pt-br" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="pt-br" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="pt-br" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>GuruPI - Grupo de Usuários de Ruby do Piauí</title>
    <link rel="stylesheet" href="css/style.css?v=1">
    <script type='text/javascript' src='js/modernizr-2.0.js'></script>
    <script src="scripts/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        function slideSwitch() {
            var $active = $('#slideshow img.active');

	        $active.addClass('last-active');

	        // verifica se existe um próximo objeto na div #slideshow, caso ele nao exista, retorna para o primeiro
            var $next =  $active.next().length ? $active.next() : $('#slideshow img:first');

	        // Codigo que define as transicoes entre as imagens
            $next.css({opacity: 0.0})
                .addClass('active')
                .animate({opacity: 1.0}, 1000, function() {
                    $active.removeClass('active last-active');
                });
        }

        $(function() {
	        //Executa a função a cada 5 segundos
	        setInterval( "slideSwitch()", 5000 );
        });
    </script>
  </head>

  <body>
    <header id="top">
      <div class="container">
        <h1 id="logo"><img src="img/logo.gif" alt="GuruPI - Grupo de Usuários de Ruby do Piauí"></h1>
        <nav>
          <ul>
            <li class="about"><a href="#sobre">Sobre</a></li>
            <li class="schedule"><a href="#agenda">Agenda</a></li>
            <li class="users"><a href="#usuarios">Usuários</a></li>
            <li class="blogs"><a href="#blogs">Blogs</a></li>
            <li class="contact"><a href="#contatos">Contatos</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div id="profile">
      <div class="container">

      	<form action="" id="login-form">
				 <fieldset>
					<span class="text">
						<input type="text" value="seu e-mail" onFocus="if(this.value=='seu e-mail'){this.value=''}" onBlur="if(this.value==''){this.value='seu e-mail'}">
					</span>
					<span class="text">
						<input type="password" value="senha" onFocus="if(this.value=='senha'){this.value=''}" onBlur="if(this.value==''){this.value='senha'}">
					</span>
					<a href="#" class="login" onClick="document.getElementById('login-form').submit()"><span><span>Entrar/Cadastrar</span></span></a>

				 </fieldset>
			 </form>
       <!-- <small>Login com Facebook</small>-->
      </div>
    </div>

    <div id="intro">
      <div class="container">
        <article class="topic">
          <h2>4º Encontro do GuruPI</h2>

              <div id="slideshow">
                  	<img class="active" src="image1.jpg" alt="Rafael Marques palestrando no 4º Encontro do GuruPI" title="" />
                      <img src="img/image2.jpg" alt="" title="" />
                      <img src="img/image3.jpg" alt="" title="" />
                      <img src="img/image4.jpg" alt="" title="" />
              </div>

       <!--   <img src="img/4-encontro-gurupi-rafael-marques.jpg" alt="Rafael Marques palestrando no 4º Encontro do GuruPI">-->
          <p>All API calls (besides /user/login) require some form of authentication. You have two options available to you: OAuth 1.0 and AdaptiveBlue's token authentication.</p>
          <ul>
            <li><a href="#palestras">Palestras</a></li>
            <li><a href="#fotos">Fotos</a></li>
            <li><a href="#videos">Vídeos</a></li>
          </ul>
        </article>
      </div>
    </div>

    <div id="extra">
      <div class="container">
        <section id="encontros">
          <h3>Próximo Encontro</h3>
          <p>Vote na palestra que você deseja assistir no próximo encontro GuruPI que será realizado no dia 11/06/2011</p>
          <ul>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
                <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
              </p>
              <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
              <div>
                <a href="#gostei" class="liked"><span class="count">11</span></a>
                <a href="#naogostei" class="disliked"><span class="count">3</span></a>
              </div>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
                <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
              </p>
              <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
              <div>
                <a href="#gostei" class="liked"><span class="count">9</span></a>
                <a href="#naogostei" class="disliked"><span class="count">2</span></a>
              </div>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/534258280/Photo_46_normal.jpg" alt="Dmitry Nix" class="photo">
                <a href="http://twitter.com/dmitrynix">@dmitrynix</a> falando sobre:
              </p>
              <h4><a href="#ruby">Ruby: do básico ao avançado</a></h4>
              <div>
                <a href="#gostei" class="liked"><span class="count">10</span></a>
                <a href="#naogostei" class="disliked"><span class="count">1</span></a>
              </div>
            </li>
          </ul>
          <a href="#cadastrar_palestra">Cadastrar Palestra</a>
        </section>

        <section id="blogs">
          <h3>Blogs</h3>
          <ul>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1293391269/cleiton_photo_2011_bigger.jpg" alt="Cleiton Francisco" class="photo">
                <a href="http://twitter.com/cleitonfco">@cleitonfco</a> em <time title="2011-05-12T14:00:00-03:00">12/05/2011</time>
              </p>
              <h4><a href="#html5">Começando com HTML5: Dicas e boas práticas</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1285435872/rafael-avatar-07_bigger.jpg" alt="Rafael Marques" class="photo">
                <a href="http://twitter.com/artefaelmarques">@artefaelmarques</a> em <time title="2011-05-11T14:00:00-03:00">11/05/2011</time>
              </p>
              <h4><a href="#usabilidade">Slides da palestra sobre usabilidade para designers e coders</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/1225763155/twt_bigger.jpg" alt="Mateus Pontes" class="photo">
                <a href="http://twitter.com/mateuspontes">@mateuspontes</a> em <time title="2011-05-10T14:00:00-03:00">10/05/2011</time>
              </p>
              <h4><a href="#tdd">Aplicando TDD na prática</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1355829144/Cairo_bigger.jpg" alt="Cairo Noleto" class="photo">
                <a href="http://twitter.com/caironoleto">@caironoleto</a> em <time title="2011-05-09T14:00:00-03:00">09/05/2011</time>
              </p>
              <h4><a href="#nodejs">Leilão de centavos com NodeJs</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1293391269/cleiton_photo_2011_bigger.jpg" alt="Cleiton Francisco" class="photo">
                <a href="http://twitter.com/cleitonfco">@cleitonfco</a> em <time title="2011-05-12T14:00:00-03:00">12/05/2011</time>
              </p>
              <h4><a href="#html5">Começando com HTML5: Dicas e boas práticas</a></h4>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1285435872/rafael-avatar-07_bigger.jpg" alt="Rafael Marques" class="photo">
                <a href="http://twitter.com/artefaelmarques">@artefaelmarques</a> em <time title="2011-05-11T14:00:00-03:00">11/05/2011</time>
              </p>
              <h4><a href="#usabilidade">Slides da palestra sobre usabilidade para designers e coders</a></h4>
            </li>
          </ul>
        </section>

        <section id="atividades">
          <h3>Últimas atividades</h3>
          <ul>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1361978035/DSCF0181_normal.jpg" class="photo">
                <a href="http://twitter.com/samflores">@samflores</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a0.twimg.com/profile_images/479789654/papai_nenem_normal.jpg" class="photo">
                <a href="http://twitter.com/eliaswebdev">@eliaswebdev</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
                <a href="http://twitter.com/joselemartins">@joselemartins</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
                <a href="http://twitter.com/paulogustavo">@paulogustavo</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
                <a href="http://twitter.com/cyruscavalcante">@cyruscavalcante</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a0.twimg.com/profile_images/1283027039/foto-cabelo_curto_face0_normal.jpg" class="photo">
                <a href="http://twitter.com/weldyss">@weldyss</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a2.twimg.com/profile_images/301833686/FOTO_MSN_normal.jpg" class="photo">
                <a href="http://twitter.com/joselemartins">@joselemartins</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a3.twimg.com/profile_images/1097609445/foto_paulo_gustavo_normal.jpg" class="photo">
                <a href="http://twitter.com/paulogustavo">@paulogustavo</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a1.twimg.com/profile_images/1283026133/cyrus_normal.jpg" class="photo">
                <a href="http://twitter.com/cyruscavalcante">@cyruscavalcante</a>
                atualizou seu perfil
              </p>
            </li>
            <li>
              <p>
                <img src="http://a0.twimg.com/profile_images/1283027039/foto-cabelo_curto_face0_normal.jpg" class="photo">
                <a href="http://twitter.com/weldyss">@weldyss</a>
                atualizou seu perfil
              </p>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <footer id="footer">
      <div class="container">
              <div class="links fb" align="center">
			            <ul>
				            <li><a href="#">Gurupi</a></li>
		                <li><a href="#">Sobre</a></li>
				            <li><a href="#">Agenda</a></li>
                    <li><a href="#">Usuários</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Imprensa</a></li>
				            <li><a href="#" style="border: 0px none">Contatos</a></li>
			            </ul>
              </div>
      </div>
      <div class="rights">Copyright 2011 - <a href="/" target="_blank">Gurupi</a></div>
    </footer>
  </body>
</html>

