<h1 class="hat title"><%= @post.title%></h1>

<%= markdown(@post.body) %>

<% if @post.user.present? %>
<div class="user_information">
  <p>Criado por <%= @post.user.identities.first.name %></p>
</div>
<% end %>


<h3 class="comments">Comentários</h5>

<div id="comment_block"></div>

<script>var postData = { id: <%= @post.id %> };</script>
