<div id="btn_contact">
  <a href="http://github.com/gurupi/gurupi.org" target="_blank" title="Faça um fork do site no Github" id="contato"><span class="hide">Faça um fork do site no Github</span></a>
</div>
