<footer id="footer">
  <div class="container">
    <div class="links fb" align="center">
      <ul>
        <li><a href="/">Gurupi</a></li>
        <li><%= link_to "Sobre", about_path%></li>
        <li><a href="#">Agenda</a></li>
        <li><%= link_to "Usuários", users_path %></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Imprensa</a></li>
        <li><%= link_to "Contatos", contact_path, :style => "border: 0px none"%></li>
      </ul>
    </div>
  </div>
  <div class="rights">Copyright 2011 - <a href="/">Gurupi</a></div>  
</footer>

