<header id="top">
  <div class="container">
    <h1 id="logo"><a href="/" title="GuruPI - Grupo de Usuários de Ruby do Piauí"><img src="/images/logo.gif" alt="GuruPI - Grupo de Usuários de Ruby do Piauí"></a></h1>
    <nav>
      <ul id="menu">
        <li class="menuli about"><%= link_to %{<span class="icon"></span>Sobre}.html_safe, about_path %></li>
        <li class="menuli schedule"><%= link_to %{<span class="icon"></span>Agenda}.html_safe, events_path %></li>
        <li class="menuli users"><%= link_to %{<span class="icon"></span>Usuários}.html_safe, users_path %></li>
        <li class="menuli blogs"><%= link_to %{<span class="icon"></span>Blogs}.html_safe, posts_path %></li>
        <li class="menuli contact"><a href="#contatos"><span class="icon"></span>Contatos</a></li>
      </ul>
    </nav>
  </div>
</header>
